@charset "UTF-8";

.antLayoutSider {
  width: 224px;
  float: left;
}

.iconCinema{
  width: 14px;
  height: 14px;
  vertical-align: text-bottom;
  background: url('../static/image/icon-cinema.svg') no-repeat;
  background-size: 14px;
}
