.ico1-1,.ico1-2,.ico1-3,.ico1-4,.ico1-5,.ico1-6,.ico1-7,.ico1-8,.ico1-9,.ico1-10,.ico1-11,.ico1-12,.ico1-13,.ico1-14,.ico1-15,.ico1-16,.ico1-17,.ico1-18,.ico1-19,.ico1-20,.ico1-21,.ico1-22,.ico1-23,.ico1-24,.ico1-25,.ico1-26,.ico1-27,.ico1-28,.ico1-29,.ico1-30,.ico1-31,.ico1-32,.ico1-33,.ico1-34,.ico1-35,.ico1-36,.ico1-37,.ico1-38,.ico1-39,.ico1-40,.ico1-41,.ico1-42,.ico1-43,.ico1-44,.ico1-45,.ico1-46,.ico1-47,.ico1-48,.ico1-49,.ico1-50,.ico2-1,.ico2-2,.ico2-3,.ico2-4,.ico2-5,.ico2-6,.ico2-7,.ico2-8,.ico2-9,.ico2-10,.ico2-11,.ico2-12,.ico2-13,.ico2-14,.ico2-15,.ico2-16,.ico2-17,.ico2-18,.ico2-19,.ico2-20,.ico2-21,.ico2-22,.ico2-23,.ico2-24,.ico2-25,.ico2-26,.ico2-27,.ico2-28,.ico2-29,.ico2-30,.ico2-31,.ico2-32,.ico2-33,.ico2-34,.ico2-35,.ico2-36,.ico2-37,.ico2-38,.ico2-39,.ico2-40,.ico2-41,.ico2-42,.ico2-43,.ico2-44,.ico2-45,.ico2-46,.ico2-47,.ico2-48,.ico2-49,.ico2-50,.ico3-1,.ico3-2,.ico3-3,.ico3-4,.ico3-5,.ico3-6,.ico3-7,.ico3-8,.ico3-9,.ico3-10,.ico3-11,.ico3-12,.ico3-13,.ico3-14,.ico3-15,.ico3-16,.ico3-17,.ico3-18,.ico3-19,.ico3-20,.ico3-21,.ico3-22,.ico3-23,.ico3-24,.ico3-25,.ico3-26,.ico3-27,.ico3-28,.ico3-29,.ico3-30,.ico3-31,.ico3-32,.ico3-33,.ico3-34,.ico3-35,.ico3-36,.ico3-37,.ico3-38,.ico3-39,.ico3-40,.ico3-41,.ico3-42,.ico3-43,.ico3-44,.ico3-45,.ico3-46,.ico3-47,.ico3-48,.ico3-49,.ico3-50,.ico4-1,.ico4-2,.ico4-3,.ico4-4,.ico4-5,.ico4-6,.ico4-7,.ico4-8,.ico4-9,.ico4-10,.ico4-11,.ico4-12,.ico4-13,.ico4-14,.ico4-15,.ico4-16,.ico4-17,.ico4-18,.ico4-19,.ico4-20,.ico4-21,.ico4-22,.ico4-23,.ico4-24,.ico4-25,.ico4-26,.ico4-27,.ico4-28,.ico4-29,.ico4-30,.ico4-31,.ico4-32,.ico4-33,.ico4-34,.ico4-35,.ico4-36,.ico4-37,.ico4-38,.ico4-39,.ico4-40,.ico4-41,.ico4-42,.ico4-43,.ico4-44,.ico4-45,.ico4-46,.ico4-47,.ico4-48,.ico4-49,.ico4-50,.ico5-1,.ico5-2,.ico5-3,.ico5-4,.ico5-5,.ico5-6,.ico5-7,.ico5-8,.ico5-9,.ico5-10,.ico5-11,.ico5-12,.ico5-13,.ico5-14,.ico5-15,.ico5-16,.ico5-17,.ico5-18,.ico5-19,.ico5-20,.ico5-21,.ico5-22,.ico5-23,.ico5-24,.ico5-25,.ico5-26,.ico5-27,.ico5-28,.ico5-29,.ico5-30,.ico5-31,.ico5-32,.ico5-33,.ico5-34,.ico5-35,.ico5-36,.ico5-37,.ico5-38,.ico5-39,.ico5-40,.ico5-41,.ico5-42,.ico5-43,.ico5-44,.ico5-45,.ico5-46,.ico5-47,.ico5-48,.ico5-49,.ico5-50,.ico6-1,.ico6-2,.ico6-3,.ico6-4,.ico6-5,.ico6-6,.ico6-7,.ico6-8,.ico6-9,.ico6-10,.ico6-11,.ico6-12,.ico6-13,.ico6-14,.ico6-15,.ico6-16,.ico6-17,.ico6-18,.ico6-19,.ico6-20,.ico6-21,.ico6-22,.ico6-23,.ico6-24,.ico6-25,.ico6-26,.ico6-27,.ico6-28,.ico6-29,.ico6-30,.ico6-31,.ico6-32,.ico6-33,.ico6-34,.ico6-35,.ico6-36,.ico6-37,.ico6-38,.ico6-39,.ico6-40,.ico6-41,.ico6-42,.ico6-43,.ico6-44,.ico6-45,.ico6-46,.ico6-47,.ico6-48,.ico6-49,.ico6-50,.ico7-1,.ico7-2,.ico7-3,.ico7-4,.ico7-5,.ico7-6,.ico7-7,.ico7-8,.ico7-9,.ico7-10,.ico7-11,.ico7-12,.ico7-13,.ico7-14,.ico7-15,.ico7-16,.ico7-17,.ico7-18,.ico7-19,.ico7-20,.ico7-21,.ico7-22,.ico7-23,.ico7-24,.ico7-25,.ico7-26,.ico7-27,.ico7-28,.ico7-29,.ico7-30,.ico7-31,.ico7-32,.ico7-33,.ico7-34,.ico7-35,.ico7-36,.ico7-37,.ico7-38,.ico7-39,.ico7-40,.ico7-41,.ico7-42,.ico7-43,.ico7-44,.ico7-45,.ico7-46,.ico7-47,.ico7-48,.ico7-49,.ico7-50,.ico8-1,.ico8-2,.ico8-3,.ico8-4,.ico8-5,.ico8-6,.ico8-7,.ico8-8,.ico8-9,.ico8-10,.ico8-11,.ico8-12,.ico8-13,.ico8-14,.ico8-15,.ico8-16,.ico8-17,.ico8-18,.ico8-19,.ico8-20,.ico8-21,.ico8-22,.ico8-23,.ico8-24,.ico8-25,.ico8-26,.ico8-27,.ico8-28,.ico8-29,.ico8-30,.ico8-31,.ico8-32,.ico8-33,.ico8-34,.ico8-35,.ico8-36,.ico8-37,.ico8-38,.ico8-39,.ico8-40,.ico8-41,.ico8-42,.ico8-43,.ico8-44,.ico8-45,.ico8-46,.ico8-47,.ico8-48,.ico8-49,.ico8-50,.ico9-1,.ico9-2,.ico9-3,.ico9-4,.ico9-5,.ico9-6,.ico9-7,.ico9-8,.ico9-9,.ico9-10,.ico9-11,.ico9-12,.ico9-13,.ico9-14,.ico9-15,.ico9-16,.ico9-17,.ico9-18,.ico9-19,.ico9-20,.ico9-21,.ico9-22,.ico9-23,.ico9-24,.ico9-25,.ico9-26,.ico9-27,.ico9-28,.ico9-29,.ico9-30,.ico9-31,.ico9-32,.ico9-33,.ico9-34,.ico9-35,.ico9-36,.ico9-37,.ico9-38,.ico9-39,.ico9-40,.ico9-41,.ico9-42,.ico9-43,.ico9-44,.ico9-45,.ico9-46,.ico9-47,.ico9-48,.ico9-49,.ico9-50,.ico10-1,.ico10-2,.ico10-3,.ico10-4,.ico10-5,.ico10-6,.ico10-7,.ico10-8,.ico10-9,.ico10-10,.ico10-11,.ico10-12,.ico10-13,.ico10-14,.ico10-15,.ico10-16,.ico10-17,.ico10-18,.ico10-19,.ico10-20,.ico10-21,.ico10-22,.ico10-23,.ico10-24,.ico10-25,.ico10-26,.ico10-27,.ico10-28,.ico10-29,.ico10-30,.ico10-31,.ico10-32,.ico10-33,.ico10-34,.ico10-35,.ico10-36,.ico10-37,.ico10-38,.ico10-39,.ico10-40,.ico10-41,.ico10-42,.ico10-43,.ico10-44,.ico10-45,.ico10-46,.ico10-47,.ico10-48,.ico10-49,.ico10-50,.ico11-1,.ico11-2,.ico11-3,.ico11-4,.ico11-5,.ico11-6,.ico11-7,.ico11-8,.ico11-9,.ico11-10,.ico11-11,.ico11-12,.ico11-13,.ico11-14,.ico11-15,.ico11-16,.ico11-17,.ico11-18,.ico11-19,.ico11-20,.ico11-21,.ico11-22,.ico11-23,.ico11-24,.ico11-25,.ico11-26,.ico11-27,.ico11-28,.ico11-29,.ico11-30,.ico11-31,.ico11-32,.ico11-33,.ico11-34,.ico11-35,.ico11-36,.ico11-37,.ico11-38,.ico11-39,.ico11-40,.ico11-41,.ico11-42,.ico11-43,.ico11-44,.ico11-45,.ico11-46,.ico11-47,.ico11-48,.ico11-49,.ico11-50{width:16px;height:16px;float:left;cursor:pointer; background-image:url('../../../images/index/mainFrame/icons-color.png');}
.ico1-1{background-position:-2px -2px;}
.ico1-2{background-position:-22px -2px;}
.ico1-3{background-position:-42px -2px;}
.ico1-4{background-position:-62px -2px;}
.ico1-5{background-position:-82px -2px;}
.ico1-6{background-position:-102px -2px;}
.ico1-7{background-position:-122px -2px;}
.ico1-8{background-position:-142px -2px;}
.ico1-9{background-position:-162px -2px;}
.ico1-10{background-position:-182px -2px;}
.ico1-11{background-position:-202px -2px;}
.ico1-12{background-position:-222px -2px;}
.ico1-13{background-position:-242px -2px;}
.ico1-14{background-position:-262px -2px;}
.ico1-15{background-position:-282px -2px;}
.ico1-16{background-position:-302px -2px;}
.ico1-17{background-position:-322px -2px;}
.ico1-18{background-position:-342px -2px;}
.ico1-19{background-position:-362px -2px;}
.ico1-20{background-position:-382px -2px;}
.ico1-21{background-position:-402px -2px;}
.ico1-22{background-position:-422px -2px;}
.ico1-23{background-position:-442px -2px;}
.ico1-24{background-position:-462px -2px;}
.ico1-25{background-position:-482px -2px;}
.ico1-26{background-position:-502px -2px;}
.ico1-27{background-position:-522px -2px;}
.ico1-28{background-position:-542px -2px;}
.ico1-29{background-position:-562px -2px;}
.ico1-30{background-position:-582px -2px;}
.ico1-31{background-position:-602px -2px;}
.ico1-32{background-position:-622px -2px;}
.ico1-33{background-position:-642px -2px;}
.ico1-34{background-position:-662px -2px;}
.ico1-35{background-position:-682px -2px;}
.ico1-36{background-position:-702px -2px;}
.ico1-37{background-position:-722px -2px;}
.ico1-38{background-position:-742px -2px;}
.ico1-39{background-position:-762px -2px;}
.ico1-40{background-position:-782px -2px;}
.ico1-41{background-position:-802px -2px;}
.ico1-42{background-position:-822px -2px;}
.ico1-43{background-position:-842px -2px;}
.ico1-44{background-position:-862px -2px;}
.ico1-45{background-position:-882px -2px;}
.ico1-46{background-position:-902px -2px;}
.ico1-47{background-position:-922px -2px;}
.ico1-48{background-position:-942px -2px;}
.ico1-49{background-position:-962px -2px;}
.ico1-50{background-position:-982px -2px;}
.ico1-51{background-position:-1002px -2px;}
.ico2-1{background-position:-2px -22px;}
.ico2-2{background-position:-22px -22px;}
.ico2-3{background-position:-42px -22px;}
.ico2-4{background-position:-62px -22px;}
.ico2-5{background-position:-82px -22px;}
.ico2-6{background-position:-102px -22px;}
.ico2-7{background-position:-122px -22px;}
.ico2-8{background-position:-142px -22px;}
.ico2-9{background-position:-162px -22px;}
.ico2-10{background-position:-182px -22px;}
.ico2-11{background-position:-202px -22px;}
.ico2-12{background-position:-222px -22px;}
.ico2-13{background-position:-242px -22px;}
.ico2-14{background-position:-262px -22px;}
.ico2-15{background-position:-282px -22px;}
.ico2-16{background-position:-302px -22px;}
.ico2-17{background-position:-322px -22px;}
.ico2-18{background-position:-342px -22px;}
.ico2-19{background-position:-362px -22px;}
.ico2-20{background-position:-382px -22px;}
.ico2-21{background-position:-402px -22px;}
.ico2-22{background-position:-422px -22px;}
.ico2-23{background-position:-442px -22px;}
.ico2-24{background-position:-462px -22px;}
.ico2-25{background-position:-482px -22px;}
.ico2-26{background-position:-502px -22px;}
.ico2-27{background-position:-522px -22px;}
.ico2-28{background-position:-542px -22px;}
.ico2-29{background-position:-562px -22px;}
.ico2-30{background-position:-582px -22px;}
.ico2-31{background-position:-602px -22px;}
.ico2-32{background-position:-622px -22px;}
.ico2-33{background-position:-642px -22px;}
.ico2-34{background-position:-662px -22px;}
.ico2-35{background-position:-682px -22px;}
.ico2-36{background-position:-702px -22px;}
.ico2-37{background-position:-722px -22px;}
.ico2-38{background-position:-742px -22px;}
.ico2-39{background-position:-762px -22px;}
.ico2-40{background-position:-782px -22px;}
.ico2-41{background-position:-802px -22px;}
.ico2-42{background-position:-822px -22px;}
.ico2-43{background-position:-842px -22px;}
.ico2-44{background-position:-862px -22px;}
.ico2-45{background-position:-882px -22px;}
.ico2-46{background-position:-902px -22px;}
.ico2-47{background-position:-922px -22px;}
.ico2-48{background-position:-942px -22px;}
.ico2-49{background-position:-962px -22px;}
.ico2-50{background-position:-982px -22px;}
.ico2-51{background-position:-1002px -22px;}
.ico3-1{background-position:-2px -42px;}
.ico3-2{background-position:-22px -42px;}
.ico3-3{background-position:-42px -42px;}
.ico3-4{background-position:-62px -42px;}
.ico3-5{background-position:-82px -42px;}
.ico3-6{background-position:-102px -42px;}
.ico3-7{background-position:-122px -42px;}
.ico3-8{background-position:-142px -42px;}
.ico3-9{background-position:-162px -42px;}
.ico3-10{background-position:-182px -42px;}
.ico3-11{background-position:-202px -42px;}
.ico3-12{background-position:-222px -42px;}
.ico3-13{background-position:-242px -42px;}
.ico3-14{background-position:-262px -42px;}
.ico3-15{background-position:-282px -42px;}
.ico3-16{background-position:-302px -42px;}
.ico3-17{background-position:-322px -42px;}
.ico3-18{background-position:-342px -42px;}
.ico3-19{background-position:-362px -42px;}
.ico3-20{background-position:-382px -42px;}
.ico3-21{background-position:-402px -42px;}
.ico3-22{background-position:-422px -42px;}
.ico3-23{background-position:-442px -42px;}
.ico3-24{background-position:-462px -42px;}
.ico3-25{background-position:-482px -42px;}
.ico3-26{background-position:-502px -42px;}
.ico3-27{background-position:-522px -42px;}
.ico3-28{background-position:-542px -42px;}
.ico3-29{background-position:-562px -42px;}
.ico3-30{background-position:-582px -42px;}
.ico3-31{background-position:-602px -42px;}
.ico3-32{background-position:-622px -42px;}
.ico3-33{background-position:-642px -42px;}
.ico3-34{background-position:-662px -42px;}
.ico3-35{background-position:-682px -42px;}
.ico3-36{background-position:-702px -42px;}
.ico3-37{background-position:-722px -42px;}
.ico3-38{background-position:-742px -42px;}
.ico3-39{background-position:-762px -42px;}
.ico3-40{background-position:-782px -42px;}
.ico3-41{background-position:-802px -42px;}
.ico3-42{background-position:-822px -42px;}
.ico3-43{background-position:-842px -42px;}
.ico3-44{background-position:-862px -42px;}
.ico3-45{background-position:-882px -42px;}
.ico3-46{background-position:-902px -42px;}
.ico3-47{background-position:-922px -42px;}
.ico3-48{background-position:-942px -42px;}
.ico3-49{background-position:-962px -42px;}
.ico3-50{background-position:-982px -42px;}
.ico3-51{background-position:-1002px -42px;}
.ico4-1{background-position:-2px -62px;}
.ico4-2{background-position:-22px -62px;}
.ico4-3{background-position:-42px -62px;}
.ico4-4{background-position:-62px -62px;}
.ico4-5{background-position:-82px -62px;}
.ico4-6{background-position:-102px -62px;}
.ico4-7{background-position:-122px -62px;}
.ico4-8{background-position:-142px -62px;}
.ico4-9{background-position:-162px -62px;}
.ico4-10{background-position:-182px -62px;}
.ico4-11{background-position:-202px -62px;}
.ico4-12{background-position:-222px -62px;}
.ico4-13{background-position:-242px -62px;}
.ico4-14{background-position:-262px -62px;}
.ico4-15{background-position:-282px -62px;}
.ico4-16{background-position:-302px -62px;}
.ico4-17{background-position:-322px -62px;}
.ico4-18{background-position:-342px -62px;}
.ico4-19{background-position:-362px -62px;}
.ico4-20{background-position:-382px -62px;}
.ico4-21{background-position:-402px -62px;}
.ico4-22{background-position:-422px -62px;}
.ico4-23{background-position:-442px -62px;}
.ico4-24{background-position:-462px -62px;}
.ico4-25{background-position:-482px -62px;}
.ico4-26{background-position:-502px -62px;}
.ico4-27{background-position:-522px -62px;}
.ico4-28{background-position:-542px -62px;}
.ico4-29{background-position:-562px -62px;}
.ico4-30{background-position:-582px -62px;}
.ico4-31{background-position:-602px -62px;}
.ico4-32{background-position:-622px -62px;}
.ico4-33{background-position:-642px -62px;}
.ico4-34{background-position:-662px -62px;}
.ico4-35{background-position:-682px -62px;}
.ico4-36{background-position:-702px -62px;}
.ico4-37{background-position:-722px -62px;}
.ico4-38{background-position:-742px -62px;}
.ico4-39{background-position:-762px -62px;}
.ico4-40{background-position:-782px -62px;}
.ico4-41{background-position:-802px -62px;}
.ico4-42{background-position:-822px -62px;}
.ico4-43{background-position:-842px -62px;}
.ico4-44{background-position:-862px -62px;}
.ico4-45{background-position:-882px -62px;}
.ico4-46{background-position:-902px -62px;}
.ico4-47{background-position:-922px -62px;}
.ico4-48{background-position:-942px -62px;}
.ico4-49{background-position:-962px -62px;}
.ico4-50{background-position:-982px -62px;}
.ico4-51{background-position:-1002px -62px;}
.ico5-1{background-position:-2px -82px;}
.ico5-2{background-position:-22px -82px;}
.ico5-3{background-position:-42px -82px;}
.ico5-4{background-position:-62px -82px;}
.ico5-5{background-position:-82px -82px;}
.ico5-6{background-position:-102px -82px;}
.ico5-7{background-position:-122px -82px;}
.ico5-8{background-position:-142px -82px;}
.ico5-9{background-position:-162px -82px;}
.ico5-10{background-position:-182px -82px;}
.ico5-11{background-position:-202px -82px;}
.ico5-12{background-position:-222px -82px;}
.ico5-13{background-position:-242px -82px;}
.ico5-14{background-position:-262px -82px;}
.ico5-15{background-position:-282px -82px;}
.ico5-16{background-position:-302px -82px;}
.ico5-17{background-position:-322px -82px;}
.ico5-18{background-position:-342px -82px;}
.ico5-19{background-position:-362px -82px;}
.ico5-20{background-position:-382px -82px;}
.ico5-21{background-position:-402px -82px;}
.ico5-22{background-position:-422px -82px;}
.ico5-23{background-position:-442px -82px;}
.ico5-24{background-position:-462px -82px;}
.ico5-25{background-position:-482px -82px;}
.ico5-26{background-position:-502px -82px;}
.ico5-27{background-position:-522px -82px;}
.ico5-28{background-position:-542px -82px;}
.ico5-29{background-position:-562px -82px;}
.ico5-30{background-position:-582px -82px;}
.ico5-31{background-position:-602px -82px;}
.ico5-32{background-position:-622px -82px;}
.ico5-33{background-position:-642px -82px;}
.ico5-34{background-position:-662px -82px;}
.ico5-35{background-position:-682px -82px;}
.ico5-36{background-position:-702px -82px;}
.ico5-37{background-position:-722px -82px;}
.ico5-38{background-position:-742px -82px;}
.ico5-39{background-position:-762px -82px;}
.ico5-40{background-position:-782px -82px;}
.ico5-41{background-position:-802px -82px;}
.ico5-42{background-position:-822px -82px;}
.ico5-43{background-position:-842px -82px;}
.ico5-44{background-position:-862px -82px;}
.ico5-45{background-position:-882px -82px;}
.ico5-46{background-position:-902px -82px;}
.ico5-47{background-position:-922px -82px;}
.ico5-48{background-position:-942px -82px;}
.ico5-49{background-position:-962px -82px;}
.ico5-50{background-position:-982px -82px;}
.ico5-51{background-position:-1002px -82px;}
.ico6-1{background-position:-2px -102px;}
.ico6-2{background-position:-22px -102px;}
.ico6-3{background-position:-42px -102px;}
.ico6-4{background-position:-62px -102px;}
.ico6-5{background-position:-82px -102px;}
.ico6-6{background-position:-102px -102px;}
.ico6-7{background-position:-122px -102px;}
.ico6-8{background-position:-142px -102px;}
.ico6-9{background-position:-162px -102px;}
.ico6-10{background-position:-182px -102px;}
.ico6-11{background-position:-202px -102px;}
.ico6-12{background-position:-222px -102px;}
.ico6-13{background-position:-242px -102px;}
.ico6-14{background-position:-262px -102px;}
.ico6-15{background-position:-282px -102px;}
.ico6-16{background-position:-302px -102px;}
.ico6-17{background-position:-322px -102px;}
.ico6-18{background-position:-342px -102px;}
.ico6-19{background-position:-362px -102px;}
.ico6-20{background-position:-382px -102px;}
.ico6-21{background-position:-402px -102px;}
.ico6-22{background-position:-422px -102px;}
.ico6-23{background-position:-442px -102px;}
.ico6-24{background-position:-462px -102px;}
.ico6-25{background-position:-482px -102px;}
.ico6-26{background-position:-502px -102px;}
.ico6-27{background-position:-522px -102px;}
.ico6-28{background-position:-542px -102px;}
.ico6-29{background-position:-562px -102px;}
.ico6-30{background-position:-582px -102px;}
.ico6-31{background-position:-602px -102px;}
.ico6-32{background-position:-622px -102px;}
.ico6-33{background-position:-642px -102px;}
.ico6-34{background-position:-662px -102px;}
.ico6-35{background-position:-682px -102px;}
.ico6-36{background-position:-702px -102px;}
.ico6-37{background-position:-722px -102px;}
.ico6-38{background-position:-742px -102px;}
.ico6-39{background-position:-762px -102px;}
.ico6-40{background-position:-782px -102px;}
.ico6-41{background-position:-802px -102px;}
.ico6-42{background-position:-822px -102px;}
.ico6-43{background-position:-842px -102px;}
.ico6-44{background-position:-862px -102px;}
.ico6-45{background-position:-882px -102px;}
.ico6-46{background-position:-902px -102px;}
.ico6-47{background-position:-922px -102px;}
.ico6-48{background-position:-942px -102px;}
.ico6-49{background-position:-962px -102px;}
.ico6-50{background-position:-982px -102px;}
.ico6-51{background-position:-1002px -102px;}
.ico7-1{background-position:-2px -122px;}
.ico7-2{background-position:-22px -122px;}
.ico7-3{background-position:-42px -122px;}
.ico7-4{background-position:-62px -122px;}
.ico7-5{background-position:-82px -122px;}
.ico7-6{background-position:-102px -122px;}
.ico7-7{background-position:-122px -122px;}
.ico7-8{background-position:-142px -122px;}
.ico7-9{background-position:-162px -122px;}
.ico7-10{background-position:-182px -122px;}
.ico7-11{background-position:-202px -122px;}
.ico7-12{background-position:-222px -122px;}
.ico7-13{background-position:-242px -122px;}
.ico7-14{background-position:-262px -122px;}
.ico7-15{background-position:-282px -122px;}
.ico7-16{background-position:-302px -122px;}
.ico7-17{background-position:-322px -122px;}
.ico7-18{background-position:-342px -122px;}
.ico7-19{background-position:-362px -122px;}
.ico7-20{background-position:-382px -122px;}
.ico7-21{background-position:-402px -122px;}
.ico7-22{background-position:-422px -122px;}
.ico7-23{background-position:-442px -122px;}
.ico7-24{background-position:-462px -122px;}
.ico7-25{background-position:-482px -122px;}
.ico7-26{background-position:-502px -122px;}
.ico7-27{background-position:-522px -122px;}
.ico7-28{background-position:-542px -122px;}
.ico7-29{background-position:-562px -122px;}
.ico7-30{background-position:-582px -122px;}
.ico7-31{background-position:-602px -122px;}
.ico7-32{background-position:-622px -122px;}
.ico7-33{background-position:-642px -122px;}
.ico7-34{background-position:-662px -122px;}
.ico7-35{background-position:-682px -122px;}
.ico7-36{background-position:-702px -122px;}
.ico7-37{background-position:-722px -122px;}
.ico7-38{background-position:-742px -122px;}
.ico7-39{background-position:-762px -122px;}
.ico7-40{background-position:-782px -122px;}
.ico7-41{background-position:-802px -122px;}
.ico7-42{background-position:-822px -122px;}
.ico7-43{background-position:-842px -122px;}
.ico7-44{background-position:-862px -122px;}
.ico7-45{background-position:-882px -122px;}
.ico7-46{background-position:-902px -122px;}
.ico7-47{background-position:-922px -122px;}
.ico7-48{background-position:-942px -122px;}
.ico7-49{background-position:-962px -122px;}
.ico7-50{background-position:-982px -122px;}
.ico7-51{background-position:-1002px -122px;}
.ico8-1{background-position:-2px -142px;}
.ico8-2{background-position:-22px -142px;}
.ico8-3{background-position:-42px -142px;}
.ico8-4{background-position:-62px -142px;}
.ico8-5{background-position:-82px -142px;}
.ico8-6{background-position:-102px -142px;}
.ico8-7{background-position:-122px -142px;}
.ico8-8{background-position:-142px -142px;}
.ico8-9{background-position:-162px -142px;}
.ico8-10{background-position:-182px -142px;}
.ico8-11{background-position:-202px -142px;}
.ico8-12{background-position:-222px -142px;}
.ico8-13{background-position:-242px -142px;}
.ico8-14{background-position:-262px -142px;}
.ico8-15{background-position:-282px -142px;}
.ico8-16{background-position:-302px -142px;}
.ico8-17{background-position:-322px -142px;}
.ico8-18{background-position:-342px -142px;}
.ico8-19{background-position:-362px -142px;}
.ico8-20{background-position:-382px -142px;}
.ico8-21{background-position:-402px -142px;}
.ico8-22{background-position:-422px -142px;}
.ico8-23{background-position:-442px -142px;}
.ico8-24{background-position:-462px -142px;}
.ico8-25{background-position:-482px -142px;}
.ico8-26{background-position:-502px -142px;}
.ico8-27{background-position:-522px -142px;}
.ico8-28{background-position:-542px -142px;}
.ico8-29{background-position:-562px -142px;}
.ico8-30{background-position:-582px -142px;}
.ico8-31{background-position:-602px -142px;}
.ico8-32{background-position:-622px -142px;}
.ico8-33{background-position:-642px -142px;}
.ico8-34{background-position:-662px -142px;}
.ico8-35{background-position:-682px -142px;}
.ico8-36{background-position:-702px -142px;}
.ico8-37{background-position:-722px -142px;}
.ico8-38{background-position:-742px -142px;}
.ico8-39{background-position:-762px -142px;}
.ico8-40{background-position:-782px -142px;}
.ico8-41{background-position:-802px -142px;}
.ico8-42{background-position:-822px -142px;}
.ico8-43{background-position:-842px -142px;}
.ico8-44{background-position:-862px -142px;}
.ico8-45{background-position:-882px -142px;}
.ico8-46{background-position:-902px -142px;}
.ico8-47{background-position:-922px -142px;}
.ico8-48{background-position:-942px -142px;}
.ico8-49{background-position:-962px -142px;}
.ico8-50{background-position:-982px -142px;}
.ico8-51{background-position:-1002px -142px;}
.ico9-1{background-position:-2px -162px;}
.ico9-2{background-position:-22px -162px;}
.ico9-3{background-position:-42px -162px;}
.ico9-4{background-position:-62px -162px;}
.ico9-5{background-position:-82px -162px;}
.ico9-6{background-position:-102px -162px;}
.ico9-7{background-position:-122px -162px;}
.ico9-8{background-position:-142px -162px;}
.ico9-9{background-position:-162px -162px;}
.ico9-10{background-position:-182px -162px;}
.ico9-11{background-position:-202px -162px;}
.ico9-12{background-position:-222px -162px;}
.ico9-13{background-position:-242px -162px;}
.ico9-14{background-position:-262px -162px;}
.ico9-15{background-position:-282px -162px;}
.ico9-16{background-position:-302px -162px;}
.ico9-17{background-position:-322px -162px;}
.ico9-18{background-position:-342px -162px;}
.ico9-19{background-position:-362px -162px;}
.ico9-20{background-position:-382px -162px;}
.ico9-21{background-position:-402px -162px;}
.ico9-22{background-position:-422px -162px;}
.ico9-23{background-position:-442px -162px;}
.ico9-24{background-position:-462px -162px;}
.ico9-25{background-position:-482px -162px;}
.ico9-26{background-position:-502px -162px;}
.ico9-27{background-position:-522px -162px;}
.ico9-28{background-position:-542px -162px;}
.ico9-29{background-position:-562px -162px;}
.ico9-30{background-position:-582px -162px;}
.ico9-31{background-position:-602px -162px;}
.ico9-32{background-position:-622px -162px;}
.ico9-33{background-position:-642px -162px;}
.ico9-34{background-position:-662px -162px;}
.ico9-35{background-position:-682px -162px;}
.ico9-36{background-position:-702px -162px;}
.ico9-37{background-position:-722px -162px;}
.ico9-38{background-position:-742px -162px;}
.ico9-39{background-position:-762px -162px;}
.ico9-40{background-position:-782px -162px;}
.ico9-41{background-position:-802px -162px;}
.ico9-42{background-position:-822px -162px;}
.ico9-43{background-position:-842px -162px;}
.ico9-44{background-position:-862px -162px;}
.ico9-45{background-position:-882px -162px;}
.ico9-46{background-position:-902px -162px;}
.ico9-47{background-position:-922px -162px;}
.ico9-48{background-position:-942px -162px;}
.ico9-49{background-position:-962px -162px;}
.ico9-50{background-position:-982px -162px;}
.ico9-51{background-position:-1002px -162px;}
.ico10-1{background-position:-2px -182px;}
.ico10-2{background-position:-22px -182px;}
.ico10-3{background-position:-42px -182px;}
.ico10-4{background-position:-62px -182px;}
.ico10-5{background-position:-82px -182px;}
.ico10-6{background-position:-102px -182px;}
.ico10-7{background-position:-122px -182px;}
.ico10-8{background-position:-142px -182px;}
.ico10-9{background-position:-162px -182px;}
.ico10-10{background-position:-182px -182px;}
.ico10-11{background-position:-202px -182px;}
.ico10-12{background-position:-222px -182px;}
.ico10-13{background-position:-242px -182px;}
.ico10-14{background-position:-262px -182px;}
.ico10-15{background-position:-282px -182px;}
.ico10-16{background-position:-302px -182px;}
.ico10-17{background-position:-322px -182px;}
.ico10-18{background-position:-342px -182px;}
.ico10-19{background-position:-362px -182px;}
.ico10-20{background-position:-382px -182px;}
.ico10-21{background-position:-402px -182px;}
.ico10-22{background-position:-422px -182px;}
.ico10-23{background-position:-442px -182px;}
.ico10-24{background-position:-462px -182px;}
.ico10-25{background-position:-482px -182px;}
.ico10-26{background-position:-502px -182px;}
.ico10-27{background-position:-522px -182px;}
.ico10-28{background-position:-542px -182px;}
.ico10-29{background-position:-562px -182px;}
.ico10-30{background-position:-582px -182px;}
.ico10-31{background-position:-602px -182px;}
.ico10-32{background-position:-622px -182px;}
.ico10-33{background-position:-642px -182px;}
.ico10-34{background-position:-662px -182px;}
.ico10-35{background-position:-682px -182px;}
.ico10-36{background-position:-702px -182px;}
.ico10-37{background-position:-722px -182px;}
.ico10-38{background-position:-742px -182px;}
.ico10-39{background-position:-762px -182px;}
.ico10-40{background-position:-782px -182px;}
.ico10-41{background-position:-802px -182px;}
.ico10-42{background-position:-822px -182px;}
.ico10-43{background-position:-842px -182px;}
.ico10-44{background-position:-862px -182px;}
.ico10-45{background-position:-882px -182px;}
.ico10-46{background-position:-902px -182px;}
.ico10-47{background-position:-922px -182px;}
.ico10-48{background-position:-942px -182px;}
.ico10-49{background-position:-962px -182px;}
.ico10-50{background-position:-982px -182px;}
.ico10-51{background-position:-1002px -182px;}
.ico11-1{background-position:-2px -202px;}
.ico11-2{background-position:-22px -202px;}
.ico11-3{background-position:-42px -202px;}
.ico11-4{background-position:-62px -202px;}
.ico11-5{background-position:-82px -202px;}
.ico11-6{background-position:-102px -202px;}
.ico11-7{background-position:-122px -202px;}
.ico11-8{background-position:-142px -202px;}
.ico11-9{background-position:-162px -202px;}
.ico11-10{background-position:-182px -202px;}
.ico11-11{background-position:-202px -202px;}
.ico11-12{background-position:-222px -202px;}
.ico11-13{background-position:-242px -202px;}
.ico11-14{background-position:-262px -202px;}
.ico11-15{background-position:-282px -202px;}
.ico11-16{background-position:-302px -202px;}
.ico11-17{background-position:-322px -202px;}
.ico11-18{background-position:-342px -202px;}
.ico11-19{background-position:-362px -202px;}
.ico11-20{background-position:-382px -202px;}
.ico11-21{background-position:-402px -202px;}
.ico11-22{background-position:-422px -202px;}
.ico11-23{background-position:-442px -202px;}
.ico11-24{background-position:-462px -202px;}
.ico11-25{background-position:-482px -202px;}
.ico11-26{background-position:-502px -202px;}
.ico11-27{background-position:-522px -202px;}
.ico11-28{background-position:-542px -202px;}
.ico11-29{background-position:-562px -202px;}
.ico11-30{background-position:-582px -202px;}
.ico11-31{background-position:-602px -202px;}
.ico11-32{background-position:-622px -202px;}
.ico11-33{background-position:-642px -202px;}
.ico11-34{background-position:-662px -202px;}
.ico11-35{background-position:-682px -202px;}
.ico11-36{background-position:-702px -202px;}
.ico11-37{background-position:-722px -202px;}
.ico11-38{background-position:-742px -202px;}
.ico11-39{background-position:-762px -202px;}
.ico11-40{background-position:-782px -202px;}
.ico11-41{background-position:-802px -202px;}
.ico11-42{background-position:-822px -202px;}
.ico11-43{background-position:-842px -202px;}
.ico11-44{background-position:-862px -202px;}
.ico11-45{background-position:-882px -202px;}
.ico11-46{background-position:-902px -202px;}
.ico11-47{background-position:-922px -202px;}
.ico11-48{background-position:-942px -202px;}
.ico11-49{background-position:-962px -202px;}
.ico11-50{background-position:-982px -202px;}
.ico11-51{background-position:-1002px -202px;}
.ico12-1{background-position:-2px -222px;}
.ico12-2{background-position:-22px -222px;}
.ico12-3{background-position:-42px -222px;}
.ico12-4{background-position:-62px -222px;}
.ico12-5{background-position:-82px -222px;}
.ico12-6{background-position:-102px -222px;}
.ico12-7{background-position:-122px -222px;}
.ico12-8{background-position:-142px -222px;}
.ico12-9{background-position:-162px -222px;}
.ico12-10{background-position:-182px -222px;}
.ico12-11{background-position:-202px -222px;}
.ico12-12{background-position:-222px -222px;}
.ico12-13{background-position:-242px -222px;}
.ico12-14{background-position:-262px -222px;}
.ico12-15{background-position:-282px -222px;}
.ico12-16{background-position:-302px -222px;}
.ico12-17{background-position:-322px -222px;}
.ico12-18{background-position:-342px -222px;}
.ico12-19{background-position:-362px -222px;}
.ico12-20{background-position:-382px -222px;}
.ico12-21{background-position:-402px -222px;}
.ico12-22{background-position:-422px -222px;}
.ico12-23{background-position:-442px -222px;}
.ico12-24{background-position:-462px -222px;}
.ico12-25{background-position:-482px -222px;}
.ico12-26{background-position:-502px -222px;}
.ico12-27{background-position:-522px -222px;}
.ico12-28{background-position:-542px -222px;}
.ico12-29{background-position:-562px -222px;}
.ico12-30{background-position:-582px -222px;}
.ico12-31{background-position:-602px -222px;}
.ico12-32{background-position:-622px -222px;}
.ico12-33{background-position:-642px -222px;}
.ico12-34{background-position:-662px -222px;}
.ico12-35{background-position:-682px -222px;}
.ico12-36{background-position:-702px -222px;}
.ico12-37{background-position:-722px -222px;}
.ico12-38{background-position:-742px -222px;}
.ico12-39{background-position:-762px -222px;}
.ico12-40{background-position:-782px -222px;}
.ico12-41{background-position:-802px -222px;}
.ico12-42{background-position:-822px -222px;}
.ico12-43{background-position:-842px -222px;}
.ico12-44{background-position:-862px -222px;}
.ico12-45{background-position:-882px -222px;}
.ico12-46{background-position:-902px -222px;}
.ico12-47{background-position:-922px -222px;}
.ico12-48{background-position:-942px -222px;}
.ico12-49{background-position:-962px -222px;}
.ico12-50{background-position:-982px -222px;}
.ico12-51{background-position:-1002px -222px;}

.btn{
display:inline-block;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #b3b3b3;
	border-radius: 4px;
	outline: 0 none;
	display:inline;
	padding:2px 12px 4px 12px;
	margin-bottom:0;
*margin-left:.3em;
	font-size:14px;
	line-height:20px;
	color:#333;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
background-color:#f5f5f5;
*background-color:#e6e6e6;
*-webkit-border-radius:4px;
	-moz-border-radius:4px;zoom: 1;
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
}
.btn span{margin:2px 5px auto auto;}

.btn:hover,.btn:focus,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{color:#333;background-color:#e6e6e6;*background-color:#d9d9d9}
.btn:active,.btn.active{background-color:#ccc \9}
.btn:first-child{*margin-left:0}
.btn:hover,.btn:focus{color:#333;text-decoration:none;-webkit-transition:background-position .1s linear;-moz-transition:background-position .1s linear;-o-transition:background-position .1s linear;transition:background-position .1s linear}
.btn:focus{outline:0;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
.btn.active,.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05)}
.btn.disabled,.btn[disabled]{cursor:default;background-image:none;opacity:.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.btn-large{padding:11px 19px;font-size:17.5px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}
.btn-large [class^="icon-"],.btn-large [class*=" icon-"]{margin-top:4px}
.btn-small{padding:2px 10px;font-size:11.9px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.btn-small [class^="icon-"],.btn-small [class*=" icon-"]{margin-top:0}
.btn-mini [class^="icon-"],.btn-mini [class*=" icon-"]{margin-top:-1px}
.btn-mini{padding:0 6px;font-size:10.5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.btn-block{display:block;width:100%;padding-right:0;padding-left:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.btn-block+.btn-block{margin-top:5px}input[type=submit].btn-block, input[type=reset].btn-block, input[type=button].btn-block{width:100%}
.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active{color:rgba(255,255,255,0.75)}
.btn-primary{color:#fff;background-color:#006dcc;*background-color:#04c;background-image:linear-gradient(to bottom,#08c,#04c);background-repeat:repeat-x;border-color:#04c #04c #002a80;background-image: linear-gradient(to bottom,#08c,#04c);
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{color:#fff;background-color:#04c;*background-color:#003bb3}
.btn-primary:active,.btn-primary.active{background-color:#039 \9}
.btn-warning{color:#fff;background-color:#faa732;*background-color:#f89406;background-image:linear-gradient(to bottom,#fbb450,#f89406);background-repeat:repeat-x;border-color:#f89406 #f89406 #ad6704;background-image: linear-gradient(to bottom,#fbb450,#f89406);
}
.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]{color:#fff;background-color:#f89406;*background-color:#df8505}
.btn-warning:active,.btn-warning.active{background-color:#c67605 \9}
.btn-danger{color:#fff;background-color:#da4f49;*background-color:#bd362f;background-image:linear-gradient(to bottom,#ee5f5b,#bd362f);background-repeat:repeat-x;border-color:#bd362f #bd362f #802420;background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
}
.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]{color:#fff;background-color:#bd362f;*background-color:#a9302a}
.btn-danger:active,.btn-danger.active{background-color:#942a25 \9}
.btn-success{color:#fff;background-color:#5bb75b;*background-color:#51a351;background-image:linear-gradient(to bottom,#62c462,#51a351);background-repeat:repeat-x;border-color:#51a351 #51a351 #387038;background-image: linear-gradient(to bottom,#62c462,#51a351);
}
.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{color:#fff;background-color:#51a351;*background-color:#499249}
.btn-success:active,.btn-success.active{background-color:#408140 \9}
.btn-info{color:#fff;background-color:#49afcd;*background-color:#2f96b4;background-image:linear-gradient(to bottom,#5bc0de,#2f96b4);background-repeat:repeat-x;border-color:#2f96b4 #2f96b4 #1f6377;background-image: linear-gradient(to bottom,#5bc0de,#2f96b4);
}
.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{color:#fff;background-color:#2f96b4;*background-color:#2a85a0}
.btn-info:active,.btn-info.active{background-color:#24748c \9}
.btn-inverse{color:#fff;background-color:#363636;*background-color:#222;background-image:linear-gradient(to bottom,#444,#222);background-repeat:repeat-x;border-color:#222 #222 #000;background-image: linear-gradient(to bottom,#444,#222);
}
.btn-inverse:hover,.btn-inverse:focus,.btn-inverse:active,.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled]{color:#fff;background-color:#222;*background-color:#151515}
.btn-inverse:active,.btn-inverse.active{background-color:#080808 \9}button.btn, input[type=submit].btn{*padding-top:3px;*padding-bottom:3px}button.btn::-moz-focus-inner, input[type=submit].btn::-moz-focus-inner{padding:0;border:0}button.btn.btn-large, input[type=submit].btn.btn-large{*padding-top:7px;*padding-bottom:7px}button.btn.btn-small, input[type=submit].btn.btn-small{*padding-top:3px;*padding-bottom:3px}button.btn.btn-mini, input[type=submit].btn.btn-mini{*padding-top:1px;*padding-bottom:1px}
.btn-link,.btn-link:active,.btn-link[disabled]{background-color:transparent;background-image:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.btn-link{color:#08c;cursor:pointer;border-color:transparent;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.btn-link:hover,.btn-link:focus{color:#005580;text-decoration:underline;background-color:transparent}
.btn-link[disabled]:hover,.btn-link[disabled]:focus{color:#333;text-decoration:none}
.btn-group{position:relative;display:inline-block;*display:inline;*margin-left:.3em;font-size:0;white-space:nowrap;vertical-align:middle;*zoom:1}
.btn-group:first-child{*margin-left:0}
.btn-group+.btn-group{margin-left:5px}
.btn-toolbar{margin-top:10px;margin-bottom:10px;font-size:0}
.btn-toolbar>.btn+.btn,.btn-toolbar>.btn-group+.btn,.btn-toolbar>.btn+.btn-group{margin-left:5px}

.btn-group>.btn{position:relative;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.btn-group>.btn+.btn{margin-left:-1px}
.btn-group>.btn,.btn-group>.dropdown-menu,.btn-group>.popover{font-size:14px}
.btn-group>.btn-mini{font-size:10.5px}
.btn-group>.btn-small{font-size:11.9px}
.btn-group>.btn-large{font-size:17.5px}
.btn-group>.btn:first-child{margin-left:0;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-webkit-border-top-left-radius:4px;border-top-left-radius:4px;-moz-border-radius-bottomleft:4px;-moz-border-radius-topleft:4px}
.btn-group>.btn:last-child,.btn-group>.dropdown-toggle{-webkit-border-top-right-radius:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px;-moz-border-radius-topright:4px;-moz-border-radius-bottomright:4px}
.btn-group>.btn.large:first-child{margin-left:0;-webkit-border-bottom-left-radius:6px;border-bottom-left-radius:6px;-webkit-border-top-left-radius:6px;border-top-left-radius:6px;-moz-border-radius-bottomleft:6px;-moz-border-radius-topleft:6px}
.btn-group>.btn.large:last-child,.btn-group>.large.dropdown-toggle{-webkit-border-top-right-radius:6px;border-top-right-radius:6px;-webkit-border-bottom-right-radius:6px;border-bottom-right-radius:6px;-moz-border-radius-topright:6px;-moz-border-radius-bottomright:6px}
.btn-group>.btn:hover,.btn-group>.btn:focus,.btn-group>.btn:active,.btn-group>.btn.active{z-index:2}
.btn-group .dropdown-toggle:active,.btn-group.open .dropdown-toggle{outline:0}
.btn-group>.btn+.dropdown-toggle{*padding-top:5px;padding-right:8px;*padding-bottom:5px;padding-left:8px;-webkit-box-shadow:inset 1px 0 0 rgba(255,255,255,0.125),inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 1px 0 0 rgba(255,255,255,0.125),inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 1px 0 0 rgba(255,255,255,0.125),inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05)}
.btn-group>.btn-mini+.dropdown-toggle{*padding-top:2px;padding-right:5px;*padding-bottom:2px;padding-left:5px}
.btn-group>.btn-small+.dropdown-toggle{*padding-top:5px;*padding-bottom:4px}
.btn-group>.btn-large+.dropdown-toggle{*padding-top:7px;padding-right:12px;*padding-bottom:7px;padding-left:12px}
.btn-group.open .dropdown-toggle{background-image:none;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05)}
.btn-group.open .btn.dropdown-toggle{background-color:#e6e6e6}
.btn-group.open .btn-primary.dropdown-toggle{background-color:#04c}
.btn-group.open .btn-warning.dropdown-toggle{background-color:#f89406}
.btn-group.open .btn-danger.dropdown-toggle{background-color:#bd362f}
.btn-group.open .btn-success.dropdown-toggle{background-color:#51a351}
.btn-group.open .btn-info.dropdown-toggle{background-color:#2f96b4}
.btn-group.open .btn-inverse.dropdown-toggle{background-color:#222}
.btn .caret{margin-top:8px;margin-left:0}

.btn-large .caret{margin-top:6px}
.btn-large .caret{border-top-width:5px;border-right-width:5px;border-left-width:5px}
.btn-mini .caret,.btn-small .caret{margin-top:8px}
.dropup .btn-large .caret{border-bottom-width:5px}
.btn-primary .caret,.btn-warning .caret,.btn-danger .caret,.btn-info .caret,.btn-success .caret,.btn-inverse .caret{border-top-color:#fff;border-bottom-color:#fff}

.btn-group-vertical{display:inline-block;*display:inline;*zoom:1}
.btn-group-vertical>.btn{display:block;float:none;max-width:100%;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.btn-group-vertical>.btn+.btn{margin-top:-1px;margin-left:0}
.btn-group-vertical>.btn:first-child{-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0}
.btn-group-vertical>.btn:last-child{-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px}
.btn-group-vertical>.btn-large:first-child{-webkit-border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;border-radius:6px 6px 0 0}
.btn-group-vertical>.btn-large:last-child{-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px}
