#container{position:relative;z-index:1;margin:30px auto;width:928px;padding:15px;font-size:14px;color:#000;border:1px solid #C2DEF3;background-color:#f1f6fa;overflow:hidden;}
#container h1{margin:15px auto 0;width:100%;_margin-top:30px;height:40px;line-height:40px;text-align:center;font-size:18px;font-weight:bold;border-bottom:1px solid #FFF;overflow:hidden;}
#container h1,.date{background-color:#1b82ab;}
#container h1,.date{color:#FFF;}
.article-meta{position:relative;z-index:1;margin:0 auto;width:96%;display:block;text-align:center;line-height:34px;height:34px;font-size:12px;}
.article-meta a{color:#C60;font-weight:bold;}
.article-meta a{color:#1b82ab;}
/* Jan. Feb. Mar. Apr. May. Jun. Jul. Aug. Sep. Oct. Nov. Dec.  Download by http://www.codefans.net*/
.date{position:absolute;z-index:2;top:-50px;left:0;width:60px;font-size:11px;height:60px;line-height:17px;font-weight:bold;text-align:center;border:1px solid #FFF;overflow:hidden;}
.date em{font-size:26px;display:block;width:100%;line-height:26px;height:26px;overflow:hidden;}

.field-wrap{overflow:hidden;}
.field-wrap legend{padding:10px;font-size:16px;font-weight:bold;margin:0 20px;text-align:center;display:none;overflow:hidden;}

.field-item{margin:0 auto;padding:10px 0;width:94%;min-height:26px;line-height:26px;clear:both;}
.field-item label,.field-item input,.field-item select,.field-item textarea{float:left;margin-right:10px;display:inline;}
.field-item label{line-height:26px;height:26px;width:100px;text-align:right;overflow:hidden;}
.field-item span{float:left;line-height:26px;height:26px;overflow:hidden;}
.field-item select{margin-top:3px;_margin-top:1px;}
.input-item{width:210px;height:20px;line-height:20px;padding:5px;border:1px solid #CCC;}

.center{text-align:center;}
#message{width:500px;}
#text-counter{font-weight:bold;color:#C80000;padding:0 10px;}
#btnsubmit{float:none;width:80px;line-height:30px;height:30px;}

/* Validator */
.validator-tip{display:none;position:absolute;z-index:99999999;width:240px;border:1px solid #40B3FF;background:#E5F5FF url(img/msg_bg.png) 5px -143px no-repeat;font-size:12px;color:#666;padding:5px 5px 5px 26px;line-height:20px;text-align:left;overflow:hidden;}
.validator-tip a{font-weight:bold;padding:0 5px;cursor:pointer;color:#039;}
.tip-error,.item-error{background-color:#FFF2E9;border:1px solid #F60;}
.tip-error{background-position:5px 7px;}
.item-pass{background-color:#E6FFE6;border:1px solid #00BE00;}
.tip-pass{background:transparent url(img/msg_bg.png) 5px -243px no-repeat;border:none;text-indent:-99999px;width:50px;}
span.security-level{float:left;margin-top:3px;width:220px;height:20px;background:transparent url(img/levels.gif) left top no-repeat;overflow:hidden;}