<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>楚湘院线-楚湘动态</title>
		<link rel="icon" href="img/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="css/base.css" />
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="css/dynamic.css" />
		
		<script type="text/javascript" src="js/lib/jquery/jq.min.js" ></script>
		<script type="text/javascript" src="js/lib/jquery/jquery.cookie.js" ></script>
		<script type="text/javascript" src="js/public.js" ></script>
		<script type="text/javascript" src="js/dynamic.js" ></script>
		
	</head>
	<body>
		<!-- 顶部登录部分 -->
		<div class="top"></div>
		<!-- Logo，地区，主菜单 -->
		<div class="title"></div>
		<!-- 描述：轮播图 -->
		<div class="carousel"></div>
        
        <div class="about_us">
        	<img src="img/about.png" />
        	<ul>
	        	<li><a href="#dynamic_news"><img src="img/dynamic_news.png" /></a><br />公司新闻</li>
	        	<li><a href="#dynamic_latest_activity"><img src="img/dynamic_latest_activity.png" /></a><br />最新活动</li>
	        </ul>
        </div>
        
        <!--公司新闻-->
        <div class="news" id="dynamic_news">
        	<div class="body">
	        	<div class="headline">院线资讯</div>
	        	<div class="more"><span>更多资讯 ></span></span></div>
	        	<div class="content">
	        		<div class="record">
	        			<div class="left">
        					<img src="#" />
        					<div class="mess">
        						<span class="time"></span>
        						<img src="img/dynamic_visit.png" />
        						<span class="sea_size"></span>
        					</div>
        				</div>
        				<div class="right">
        					<div class="news_head"><a href="#"></a></div>
        					<div class="news_content">
        					</div>
        				</div>
        			</div>
        			<div class="record">
	        			<div class="left">
        					<img src="#" />
        					<div class="mess">
        						<span class="time"></span>
        						<img src="img/dynamic_visit.png" />
        						<span class="sea_size"></span>
        					</div>
        				</div>
        				<div class="right">
        					<div class="news_head">
        						<a href="dynamic/news.html"></a>
        					</div>
        					<div class="news_content">
        					</div>
        				</div>
        			</div>
        			<div class="record">
	        			<div class="left">
        					<img src="#" />
        					<div class="mess">
        						<span class="time"></span>
        						<img src="img/dynamic_visit.png" />
        						<span class="sea_size"></span>
        					</div>
        				</div>
        				<div class="right">
        					<div class="news_head">
        						<a href="dynamic/news.html"></a>
        					</div>
        					<div class="news_content">
        					</div>
        				</div>
        			</div>
	        	</div>
        	</div>
        </div>
        
        <!--最新活动-->
        <div class="latest_activity" id="dynamic_latest_activity">
        	<div class="body">
	        	<div class="headline">最新活动</div>
	        	<div class="content">
	        		<div>
	        			<div class="bg_img" >
	        				<img src="#" style="height:353px;width:253px;"/>
	        				<div class="img_title"></div>
	        				<div class="exp_date"></div>
	        			</div>
	        			<div class="bg_img">
	        				<img src="#" style="height:353px;width:253px;"/>
	        				<div class="img_title"></div>
	        				<div class="exp_date"></div>
	        			</div>
	        			<div class="bg_img">
	        				<img src="#" style="height:353px;width:253px;"/>
	        				<div class="img_title"></div>
	        				<div class="exp_date"></div>
	        			</div>
	        		</div>
	        		<img class="left" src="img/dynamic_direction_left.png" />
	        		<img class="right" src="img/dynamic_direction_right.png" />
	        	</div>
        	</div>
        </div>
        
        <!-- 描述：底部 -->
        <div class="bottom"></div>
        
        <!-- 在线资讯 -->
        <div class="online_consultation"></div>
	</body>
</html>
